<h2 style="text-align: center;">Add User</h2>

<form class="add-user-card" [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <div class="middle">

        <label class="input" for="firstName">First Name: </label>
        <input class="input" required="true" id="firstName" type="text" formControlName="firstName">
        
        <label class="input" for="lastName">Last Name: </label>
        <input class="input" required="true" id="lastName" type="text" formControlName="lastName">
        
        <label class="input" for="username">Username: </label>
        <input class="input" required="true" id="username" type="text" formControlName="username">
        
        <button  type="submit" [disabled]="!addUserForm.valid" >Submit</button>
    </div>

</form>