<h2 style="text-align: center;">User Profile</h2>

<form class="form"  (ngSubmit)="save()">
  <div class="div" [formGroup]="profileForm">

    <label class="inner" for="firstName">First Name: </label>
    <input class="inner" required="true" id="firstName" type="text" formControlName="firstName">
    
    <label class="inner" for="lastName">Last Name: </label>
    <input class="inner" required="true" id="lastName" type="text" formControlName="lastName" >
    
    <label class="inner" for="username">Username: </label>
    <input class="inner" required="true" id="username" type="text" formControlName="username">
    
    <button type="submit" [disabled]="!profileForm.valid">Save changes</button>
  </div>
</form>